<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="author">
    <label>
      Name:
      <input class="small-input" formControlName="name" />
    </label>
    <div class="color">
      <label>
        Color:
        <input class="small-input" formControlName="color" size="7" />
      </label>
      <div
        class="color-preview"
        [style.background-color]="form.value.color"
      ></div>
    </div>
  </div>
  <input
    class="big-input"
    formControlName="text"
    placeholder="Write a message ..."
  />
  <button class="submit-button" [disabled]="!form.valid">Submit</button>
</form>
