<div class="comment" *ngIf="comment">
  <div class="header">
    <div class="author" [style.color]="comment.author.color">
      {{ comment.author.name }}
    </div>
    <div class="time">{{ comment.timestamp | date: 'mediumTime' }}</div>
  </div>
  <div class="text-wrapper">
    <div class="text">{{ comment.text }}</div>
    <div class="likes">
      <i class="material-icons like-icon" (click)="onClick()">thumb_up</i>
      <span class="likes-count">{{ comment.likes || 0 }}</span>
    </div>
  </div>
</div>
