@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.message {
  padding: 20px 25px;
  animation: fade-in 1s ease-in;
}

/* this demonstrates component CSS scope (see app.component.css) */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.author {
  font-weight: bold;
  font-size: 16px;
}

.time {
  font-size: 12px;
  opacity: 0.7;
}

.text-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  font-size: 14px;
  line-height: 20px;
}

.likes {
  flex-shrink: 0;
  margin-left: 7px;
  user-select: none;
}

.like-icon,
.likes-count {
  font-size: 18px;
  color: #2b8b3c;
}

.like-icon {
  position: relative;
  transition: bottom 0.5s;
  cursor: pointer;
}

.like-icon:hover {
  bottom: 2px;
}
